{% extends 'base.html' %}
{% block title %}Schedule{% endblock %}

<!-- Block for loading extra content, I.e. page specific css or javascript -->
{% block extra %}
    
{% endblock %}

<!-- Loads the content into the content block -->
{% block content %}
<div class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title">
                            <span>Specialist AI</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_info">
                            <span></span>

                            <!-- Implement account checks -->
                            <!-- If the user is a patient -->
                            {% if user.is_patient %}
                                Patient {% include 'user_link.html' %}
                            {% endif %}
                            <!-- If the user is a doctor -->
                            {% if user.is_doctor %}
                                Dr {% include 'user_link.html' %}
                            {% endif %}
                            <!-- If the user is a nurse -->
                            {% if user.is_nurse %}
                                Nurse {% include 'user_link.html' %}
                            {% endif %}
                            <!-- If the user is a admin -->
                            {% if user.is_superuser %}
                                Admin {% include 'user_link.html' %}
                            {% endif %}
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                {% include 'navbar.html' %}
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->

                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Profile">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <!-- Include the logout url for logging out -->
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="{% url 'health:logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true"
                                    id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    
                                    
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right"
                                    aria-labelledby="navbarDropdown">
                                    <!-- Include the logout url for logging out -->
                                    <a class="dropdown-item" href="{% url 'health:logout' %}">
                                        <i class="fa fa-sign-out pull-right"></i>Log Out</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main" style="min-height: 912px;">
                <!-- If the user is a doctor -->
                {% if user.is_doctor %}
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Current Patients<small>records</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                    <!-- If the user is not a nurse -->
                                    {% if not user.is_nurse %}
                                        <!-- Include the url as a button for adding a new appointment -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit" data-remote="{% url 'health:add_appointment' %}">
                                            Add an Appointment
                                        </button>
                                        <br />
                                    {% endif %}
                                    <div class="col-sm-12">
                                        <div class="card-box table-responsive">
                                            <!-- If there are appointments in the future -->
                                            {% if schedule_future %}
                                                <table id="datatable-responsive"
                                                class="table table-striped table-bordered dt-responsive nowrap"
                                                cellspacing="0" width="100%">
                                                    <!-- Sets the legend to the user link for the specified users upcoming appointments -->
                                                    <legend>Upcoming appointments for {% include 'user_link.html' %}</legend>
                                                    <!-- Include the url for the appointments table along with setting editable to true -->
                                                    {% include 'appointment_table.html' with schedule=schedule_future editable=True %}
                                                </table>
                                            {% else %}
                                                <!-- If there are no up coming appointment, display it -->
                                                <h2 class="text-center">No upcoming appointments.</h2>
                                            {% endif %}
                                            <hr>
                                            <!-- If there are past appointments -->
                                            {% if schedule_past %}
                                                <table class="table table-bordered table-striped">
                                                    <!-- Sets the legend to the user link for the specified users past appointments -->
                                                    <legend>Past appointments for {% include 'user_link.html' %}</legend>
                                                    <!-- Include the url for the appointments table along with setting editable to false -->
                                                    {% include 'appointment_table.html' with schedule=schedule_past editable=False %}
                                                </table>
                                            {% else %}
                                                <!-- If there are no up past appointment, display it -->
                                                <h2 class="text-center">No past appointments.</h2>
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- If the user is a super user -->
                {% if user.is_superuser %}
                <!-- Display the hospital the user is in -->
                <h2 class="text-center">Users in {{ user.hospital.name }}</h2>
                <a href="{% url 'health:signup' %}" class="btn btn-primary"><i class="fa fa-user-plus"></i>&nbsp;Add User</a>
                <!-- If the user a doctor -->
                <h5>Doctors</h5>
                <ul class="list-group">
                    <!-- For loop to iterate through the users which are doctors -->
                    {% for user in doctors %}
                        <!-- Provide a link to the medical informaiton page with the users primary key, I.e. id -->
                        <a href="{% url 'health:medical_information' user.pk %}"  class="list-group-item">
                            <!-- Display the users full name -->
                            {{ user.get_full_name }}<br />
                        </a>
                    {% endfor %}
                </ul>
                <!-- If the user is a nurse -->
                <h5>Nurses</h5>
                <ul class="list-group">
                    <!-- For loop to iterate through the users which are nurses -->
                    {% for user in nurses %}
                        <!-- Provide a link to the medical informaiton page with the users primary key, I.e. id -->
                        <a href="{% url 'health:medical_information' user.pk %}"  class="list-group-item">
                            <!-- Display the users full name -->
                            {{ user.get_full_name }}
                        </a>
                    {% endfor %}
                </ul>
                <!-- If the user is a patient -->
                <h5>Patients</h5>
                <ul class="list-group">
                    <!-- For loop to iterate through the users which are patients -->
                    {% for user in patients %}
                    <!-- Provide a link to the medical informaiton page with the users primary key, I.e. id -->
                        <a href="{% url 'health:medical_information' user.pk %}"  class="list-group-item">
                            <!-- Display the users full name -->
                            {{ user.get_full_name }}
                        </a>
                    {% endfor %}
                </ul>

                {% endif %}
                <br />

                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Created by <a href="http://www.neville-bulmer.com/">Neville Bulmer</a> with the help of bootstrap
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
</div>

<!-- Modal which will launch when a user can edit n appointment -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            
        </div>
    </div>
</div>

<script>
    function close_modal() 
    {
        $('#edit').modal('hide');
    }
</script>

{% endblock %}